body{
	margin: 0;
	padding: 0;
}
.header
{
padding-left: 50px;
padding-top: 64px;
padding-bottom: 64px;
margin: auto;
background-color:#808080;
}
.fold
{
padding-left: 50px;
padding-top: 239px;
padding-bottom: 239px;
margin: auto;
background-color: #BC8F8F;
}
.body
{
	text-align: center;
	margin: auto;
	background-color: #FFDAB9;
	width: 1170px;
}
.body1
{
	margin: auto;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 75px;
	padding-bottom: 75px;
	height: 50px;
	background-color: #8B008B;	
}
.body2
{
	padding-left: 50px;
	padding-top: 1px;
	padding-bottom: 240px;
	background-color: #F1C;	
}
.portfolio{
	padding-right: 50px; 
}
h3{
	margin: 0px;
	padding: 0px;
}
.img1
{
	margin-left: 1px;
	margin-right: 15px;
}
.img2
{
	margin-left: 30px;
	margin-right: 15px;
}
.img1, .img2{
	background: #AAAAAA;
	float: left;
	width: 515px;
	padding: 82px 0px 82px 0px;
}
h4
{
	text-align: center;
}
.ramka
{
	background: grey;
	display: flex;
	align-items: center;
  	justify-content: center;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
}
.img3
{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}
.img4
{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.img5
{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}
.img6
{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}
.img3, .img4, .img5, .img6{
	background: #AAAAAA;
	width: 360px;
	height: 100px;
	padding: 60px 0px 60px 0px;
}
.body3
{
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFDEAD;
	width: 1170px;
}
.body4
{
	margin: auto;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
	height: 50px;
	background-color: #DEB887;	
}
.footer
{
	padding: 85px 0px 85px 0px;
	margin: auto;
	text-align: center;
	background-color:#C0C0C0;
}
